.auth-outer{min-height:100vh;overflow-y: auto;padding:50px 15px;}
.auth-outer .auth-block{width:350px;border-radius:10px;padding:20px;background:rgba(255,255,255,0.2);}
.auth-outer .logo-holder strong{width:150px;}
.auth-outer .logo-holder .logo-dark{display:none;}
.auth-outer .theme-link{text-decoration: underline;}
/* Dark Mode Styles */
.dark-mode .auth-outer .logo-holder .logo-light{display:none;}
.dark-mode .auth-outer .logo-holder .logo-dark{display:block;}
.dark-mode .auth-outer .right-label-checkbox .checkmark,
.dark-mode .auth-outer .right-label-checkbox .checkmark:after{border-color:#fff;}
@media (max-width:575px){
    .auth-outer .auth-block{width:100%;}
}